{% extends 'base.html' %}

{% block title %}Welcome to James' Shop{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="max-width:700px; margin:2rem auto; text-align:center;">
        <h1>Welcome to the shop, {{user.username}}!</h1>
    </div>
    {% else %}
    <div style="max-width:700px; margin:2rem auto; text-align:center;">
        <p>Welcome to James' Shop - please login or register</p>
        <a href="/login/" class="btn btn-primary">Login</a>
        <a href="/register/" class="btn btn-primary">Register</a>
    </div>
    {% endif %}
{% endblock %}