{% extends 'base.html' %}

{% block title %} {{product.name}} {% endblock %}


{% block content %}
<!-- Come back to this, add to basket functionality. constant basket view on products and individual page -->
<!-- {% if added %} 
    <h1> Added to basket</h1>
{% endif %} -->

<p>Name: {{product.name}} - €{{product.price}}</p>
<img src="{{product.product_image.url}}" />
<p>
    {{product.description}}
    <a href="/addbasket/{{product.id}}" class="btn btn-primary">Buy €{{product.price}}</a>
</p>

<a href="/addbasket/{{product.id}}/" class="btn btn-primary">Add to basket</a>

{% endblock %}